/* dark.css */
:root {
  /* Default Unit Color */
  --assistance-color: #00aa80;
  --reverse-color: #ffffff;
  --reverse-color-light: #ececec;
  --reverse-color-lighter: #dbdbdb;
  --reverse-blur: #ffffff50;
  /* Background */
  --bg-img: url(./img/Night.jpg);
  --bg-color: #363636;
  --theme-color-light: #1c1c1c;
  --theme-color: #000000;
  --side-bar-bg-color: #000000;
  --blur-bg-color: var(--default-darker-color);
  /* Text color */
  --text-color: var(--reverse-color-lighter);
  --text-hover-color: #ffffff;
  --text-selected-color: #000000bd;
  /* Table Color */
  --table-bg-color: var(--default-darker-color);
  --table-head-color: #0088cc;
  --table-head-selected-color: #00bbdd;
  --table-cell-color: transparent;
  --table-cell-selected-color: var(--default-darker-color);
  /* Block Quote Color */
  --quote-background-color: #00665510;
  --quote-border-color: #004040;
  /* Selection Color */
  --select-text-bg-color: var(--default-lighter-color);
  --select-text-font-color: unset;
  /* Code Color */
  --codeMirror-bg-color: var(--default-darker-color);
  --codeMirror-gutter-border-color: var(--reverse-color);
  --codeMirror-lineNumber-color: var(--reverse-color);
  --codeMirror-cursor-color: #ffffff;
  --code-tooltip-color: var(--default-darker-color);
  --code-bg-color: #00aeff70;
  --code-text-color: #55ccff;
  /* Mark Color */
  --mark-text-color: #000000;
  --mark-bg-color: #00d87e;
  --mark-hover-bg-color: #00ff95;
  /* Menu Color */
  --menu-bg-color: #000000;
  --active-file-bg-color: var(--default-lighter-color);
  /* Footer Color */
  --footer-bg-color: var(--default-darker-color);
  /* Dropdown Menu Color*/
  --dropdownMenu-bg-color: transparent;
  /* Search Panel Color*/
  --searchPanel-bg-color: #2f2f2f;
  --md-search-hit-bg-color: #ff000050;
  /* Task List Color */
  --task-icon-color: #ffffff;
  --task-border-color: #ffffff;
  --task-unchecked-bg-color: #2e2e2e;
  --task-checked-bg-color: #00ae00;
  --task-checked-text-color: #808080;
  /* Source Color */
  --source-active-button: var(--default-darker-color);
  --source-bg-color: var(--theme-color);
  --source-head-color: #ffffff;
  --source-quote-color: #a58282;
  /* Hyperlink Color */
  --hyperlink-text-color: #db9600;
  --hyperlink-text-hover-color: #ffae00;
  --hyperlink-bg-hover-color: #ffae0033;
  /* em color */
  --inactivate: #aaaaaa;
}
